* {
  box-sizing: border-box;
}

body {
  /* ...margin is removed to make navbar go all the way to the edges... */
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  /* ...use 'margin-right: auto' to 'ReactFacts' text just to bump the 'h4' all the way to the right side */
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  /* ...set the margin-right of the img to '7px' to bump it away fr the 'ReactFacts' text...  */
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url("./images/react-icon-large.png");

  background-repeat: no-repeat;

  background-position: right 75%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  /* ...'padding-block' allows to only specify the padding on the top & bottom in one go... */
  padding-block: 10px;
  /* max-width: 400px; */
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
